server {
        listen 80;
        listen [::]:80;
        server_name localhost;

        root {{ nginx_custom_directory }};
        index index.html;

        location / {
                try_files $uri /index.html index.php;
        }
}